# Włączenie przepisywania adresów
RewriteEngine On

# Blokada bezpośredniego podglądu spisów plików w katalogach
Options -Indexes

# Ochrona wrażliwych plików systemowych (np. db.php, konfiguracyjnych)
<FilesMatch "^\.ht|db\.php">
    Order allow,deny
    Deny from all
</FilesMatch>

# Blokada dostępu do katalogu .git przez przeglądarkę (repo git wdrożone na serwerze)
RedirectMatch 404 /\.git($|/)

# Wymuszenie HTTPS (SSL aktywny i uzywany na produkcji)
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
